.login{
    /* display:grid;
    justify-content: flex-start;
    place-items: center;
    height: 100vh;
    background-color: black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: black;
  
  
}

.login > img {
    margin-top: 20vh;
    height:15%;
}

.login >a{
    padding:20px;
    background-color:  #1db954;
    border-radius: 90px;
    color: white;
    text-decoration: none;
    font-weight: 750;
    margin-top: 30vh;
}